.App {
  text-align: center;
  /* background-color: #4285F4; */
  height: 100vh;
  /* clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%); */
  z-index: -1;
  overflow: hidden;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

